body {
  background-color: black;
}


.header {
  background-color: white; 
  padding-left: 15px;
  border: black solid 1px;
  color: black;
  font-size: 16px; 
  font-family: Tahoma, sans-serif;
  text-align: center;
}
a:hover {
  background-color: #D2B48C;
}

img {
  height: 150px;
  width: 150px;
  margin: 15px;
  border: white solid 1px;
}


.title {
  text-align: left;
  font-size: 17px; 
  color: white;
 font-family: Tahoma, sans-serif;
  position: relative;
    top: 18px;
}

.bullet {
  margin: 25px;
  font-size: 15px; 
    color: white;
  font-family: Tahoma, sans-serif;
  position: relative;
    left: 15px;
}

.experience {
  font-size: 17px; 
  font-family: Tahoma, sans-serif;
  line-height: 50%;
    color: white;
}

.list {
  font-size: 15px; 
font-family: Tahoma, sans-serif;
    color: white;
 
}


.footer {
   font-size: 15px; 
  font-family: Tahoma, sans-serif;
    color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}.fa:hover {
    opacity: 0.7;
}
.fa {
  padding: 20px;
  font-size: 20px;
  width: 10px;
  height: 12px;
  text-align: center;
  text-decoration: none;
  margin: 5px 1px;
 
}
.button-container-div {
  text-align: center;
}
